.container {
    max-width: 600px;
}

main .section1-bg {
    position: static;
    z-index: 1;
    padding: 6px 0 10px;
    height: 373px;
}

.watch-you .ellipse-container .title-block {
    width: auto;
    height: 339px;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.watch-you .ellipse-container .title-block .title {
    font-size: 54.2894px;
    width: 255.64px;
    height: 204.38px;
}


.watch-you .ellipse-container .title-block .title::before {
    width: 237.6px;
    height: 237.6px;
    border-radius: 237.6px;
    left: -13px;
    top: -54px;
}

.watch-you .ellipse-container .title-block  .btn{
    align-self: end;
}

main .section2 {
    height: 367px;
    width: 600px;
}

main .section2 .img-container {
    display: none;
}

main .section2_wrapper  {
    background-image: url(assets/images/flower_foto.png);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-top: 60px;
    padding-bottom: 130px;
}

main .row1 .animals-container:last-child,
main .row2 .animals-container:last-child {
    display: none;
    gap: 29.76px;
}

main .animals-container {
    width: 285px;
    height: 332px;
}

main .animal-card {
    height: 285px;
}

.choose-btn {
    margin-top: 35px;
    padding-bottom: 100px;
}

main .animals_section {
    height: auto;
}

main .section4 {
    padding-top: 30px;
    padding-bottom: 50px;
}

main .section4 .container{
    width: 640px;
    height: auto;
    padding-top: 10px;

    padding-left: 20px;
    padding-right: 20px;

}

main .section4 .container .heading {
    text-align: center;
    margin-left: 0;
}
main .section4 .container h2 {
    font-size: 42px;
}

main .section4 .container p {
    width: auto;
}

main .section4 .container .content .subtitle {
    font-size: 22px;
}

main .section4 .container .subtitle-container,
main .section4 .container .content {
    margin-left: 0;
}

main .section4 .container .subtitle {
    margin: 20px 0;
}

main .section4 .container .row  {
    position: relative;
    margin-left: 0;
    gap: 15px;
}

main .section4 .container .arrow{
    margin: 0;
    position: relative;
}

main .section4 .container .arrow img{
    content: url(assets/images/arrow.png);
    position: absolute;
    left: -40px;
    top: -17px;
}

main .section5-wrapper {
    background-image: url(assets/images/leav_foto1.png);
    padding-top: 60px;
    padding-bottom: 92px;
    background-position: right 113%;
}

main .testimonial-list {
    flex-direction: column;
    gap: 15px;
}

main .testimonial-list .testimonial-item-container {
    width: 100%;
    height: 109px;
    border-radius: 20px;
    /* background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%); */
}

main .testimonial-item {
    width: 100%;
    height: 109px;
    box-sizing: border-box;
    overflow: hidden;
}

main .testimonial-item .text {
    cursor: pointer;
    overflow: scroll;
    max-height: 90%;
}

.text::-webkit-scrollbar {
    width: 2.5px;
    margin-right: 8px;
}

.text::-webkit-scrollbar-thumb {
    background: #F9804B;
}

main .slider_container  {
    display: none;
}


main .testimonial-item:nth-child(2) {
    margin: 0;
}

main .section5-wrapper .btn-container {
    text-align: center;
    margin-top: 40px;
}

footer .desktop-footer {
    display: none;
}

footer .small-screen-footer {
    display: block;
}

footer .small-screen-footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    margin-bottom: 20px;
}
footer .small-screen-footer .content1,
footer .small-screen-footer .content2 {
    display: flex;
    justify-content: space-between;
}

footer .small-screen-footer .content1 .logo {
    margin-bottom: 32px;
}


footer .small-screen-footer .content2 .navbar-links {
    justify-content: flex-start;
        gap: 37px;
}